[data-theme="light"] {
  --color-primary: var(--color-blue-500);
  --color-secondary: var(--color-indigo-400);
  --color-text: var(--color-gray-900);
  --color-text-offset: var(--color-gray-600);
  --color-background: var(--color-gray-50);
  --color-background-offset: var(--color-gray-100);
  --color-border: color-mix(in srgb, var(--color-gray-900) 10%, transparent);
}

[data-theme="dark"] {
  --color-primary: var(--color-blue-400);
  --color-secondary: var(--color-indigo-300);
  --color-text: var(--color-gray-50);
  --color-text-offset: var(--color-gray-400);
  --color-background: var(--color-gray-900);
  --color-background-offset: var(--color-gray-800);
  --color-border: color-mix(in srgb, var(--color-gray-50) 10%, transparent);
}
