<section class="bg-background flex min-h-full items-center">
  <div class="mx-auto flex max-w-sm flex-col items-center text-center">
    <h1 class="mt-3 text-2xl font-semibold md:text-3xl">Page not found</h1>
    <p class="text-offset mt-4">The page you are looking for doesn't exist.</p>

    <a href="/">
      <button
        class="bg-primary hover:bg-secondary mt-5 shrink-0 rounded-lg px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 sm:w-auto"
      >
        Take me home
      </button>
    </a>
  </div>
</section>
