---
import Layout from "../layouts/Layout.astro";
import { Content as Terms } from "../content/terms.md";
---

<Layout title="Terms & Conditions">
  <section class="bg-background">
    <div class="container px-6 py-8 mx-auto prose prose-lg">
      <Terms />
    </div>
  </section>
</Layout>
