---
import ContactForm from "./ContactForm.jsx";
---

<!-- Hidden Static HTML Form (Netlify Will Detect This) -->
<form
  name="contact"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  hidden
>
  <!-- Honeypot Field (Spam Protection) -->
  <p>
    <label
      >Don’t fill this out if you’re human: <input name="bot-field" /></label
    >
  </p>
  <input type="text" name="name" />
  <input type="email" name="email" />
  <textarea name="message"></textarea>
</form>

<!-- Load React Form Client-Side -->
<ContactForm client:load />
