---
import type { Blog } from "../types/Blog";
import BlogItem from "./BlogItem.astro";

const { blogs } = Astro.props;
---

<section class="bg-background py-12">
  <div class="container mx-auto max-w-4xl px-4">
    <h1 class="mb-10 text-center text-3xl">Recent posts</h1>
    <ul class="space-y-6">
      {blogs.map((blog: Blog) => <BlogItem blog={blog} />)}
    </ul>
  </div>
</section>
