---
const { title, sub_title, years, details } = Astro.props;
---

<li class="bg-background-offset border-default rounded-xl border p-5 shadow-lg">
  <div class="flex flex-col items-start justify-between sm:flex-row">
    <div class="mb-4 sm:mb-0">
      <h3 class="text-2xl font-semibold">{title}</h3>
      <p class="text-primary pt-2 text-lg font-medium">{sub_title}</p>
    </div>
    <p class="text-offset text-sm whitespace-nowrap sm:text-right">{years}</p>
  </div>
  <p class="text-offset mt-4 leading-relaxed">{details}</p>
</li>
