---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "../../../../../layouts/Layout.astro";
import { getBlogParams } from "../../../../../utils/params";

export const getStaticPaths = async () => {
  const blogs = await getCollection("blog");
  const paths = blogs.map((blog) => {
    return {
      params: getBlogParams(blog),
      props: {
        blog,
      },
    };
  });

  return paths;
};

type Props = {
  blog: CollectionEntry<"blog">;
};

const { blog } = Astro.props;
const { Content } = await render(blog);
---

<Layout title={blog.data.title}>
  <section class="lg:flex justify-center mt-12">
    <div id="markdown" class="prose prose-lg overflow-visible relative mb-5">
      <h1>{blog.data.title}</h1>
      <time datetime={blog.data.pubDate.toLocaleDateString()} class="text-sm">
        {
          new Date(blog.data.pubDate).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
      <Content />
    </div>
  </section>

  <script>
    import { toggleMarkdownTheme } from "../../../../../scripts/theme";

    // initialized in Layout.astro
    const theme = document.documentElement.dataset.theme;

    toggleMarkdownTheme(theme);
  </script>
</Layout>
